@model IEnumerable<UrgentCast.Models.Feed>
@{
    ViewData["Title"] = "Home Page";
}

@await Component.InvokeAsync("LatestEpisode")

@foreach (var feed in Model)
{
    <h2 class="ui header">
        <i class="sound icon"></i>
        <div class="content">@feed.Title</div>
    </h2>

    <div class="ui three stackable cards">
        @foreach (var episode in feed.Episodes)
        {
            <div class="card">
                <div class="content">
                    <div class="header">
                        @episode.ShowNumber - @episode.Title
                    </div>
                    <div class="meta">
                        @episode.PublishedAt
                    </div>
                    <div class="ui divider"></div>
                    <div class="meta">
                        @episode.Subtitle
                    </div>
                    <div class="description">
                        @episode.Description
                    </div>
                </div>
                <div class="extra content">
                    <audio controls="controls">
                        <source src="@episode.MediaUrl" type="audio/mpeg">
                        Your browser does not support audio. You can still download the show though!
                    </audio>
                </div>
            </div>
        }
    </div>
}